version: '3.8'
services:
  db:
    image: postgres:15
    container_name: projet15_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: projet15_community
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: